<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:fragment="head">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title th:text="${content} + ' - Dijital Toplantı'"></title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css" th:href="@{/css/style.css}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<!--
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.18/css/jquery.dataTables.min.css">
-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">

    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navbar">
    <div class="container-fluid">
        <button type="button" id="sidebarCollapse" class="btn btn-outline-info">
            <i class="fas fa-bars"></i>
        </button>

        <small class="ml-auto mr-2 text-muted text-right"><span sec:authentication="principal.firstName"/> <span sec:authentication="principal.lastName"/></small>
        <div class="dropdown dropleft">
            <button type="button" class="btn btn-outline-info float-right" id="profileMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="fas fa-user"></span>
            </button>
            <div class="dropdown-menu float-left" aria-labelledby="profileMenuButton">
                <a class="dropdown-item" th:href="@{/profile}"><i class="fas fa-user-circle text-right"></i> Profil</a>
                <form th:action="@{/logout}" class="logoutForm" method="post">
                    <button type="submit" class="dropdown-item"><i class="fas fa-sign-out-alt text-danger"></i> Çıkış</button>

                </form>
            </div>
        </div>

    </div>
</nav>

<div th:fragment = "successMessage" th:if="${successMessage}" class="alert alert-success alert-dismissible fade show" role="alert">
    <span  th:text="${successMessage}"></span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div th:fragment = "errorMessage" th:if="${condition}" class="alert alert-danger alert-dismissible fade show" role="alert">
    <span th:errors="*{__${field}__}"></span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<!--<div th:if="${role=alert}"  >
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
</div>-->

<nav id="sidebar" th:fragment="sidebar">
    <div class="sidebar-header">
        <a th:href="@{/}" class="h3">Dijital Toplantı</a>
    </div>
    <div id="accordion" sec:authorize="hasRole('ROLE_ADMIN')">
        <ul class="list-unstyled components">
            <p>İşlemler</p>
            <li>
                <a href="#homeSubmenu" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" class="dropdown-toggle">Kullanıcı İşlemleri</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a th:href="@{/add/member}">Kullanıcı Ekle</a>
                    </li>
                    <li>
                        <a th:href="@{/list/member}">Kullanıcıları Listele</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#roleRightSubmenu" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" class="dropdown-toggle">Rol/Yetki İşlemleri</a>
                <ul class="collapse list-unstyled" id="roleRightSubmenu">
                    <li>
                        <a th:href="@{/add/role}">Rol Ekle</a>
                    </li>
                    <li>
                        <a th:href="@{/list/role}">Roller</a>
                    </li>
                    <li>
                        <a th:href="@{/add/right}">Yetki Ekle</a>
                    </li>
                    <li>
                        <a th:href="@{/list/right}">Yetkiler</a>
                    </li>
                </ul>
            </li>


            <li>
                <a href="#meetingSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Toplantı İşlemleri</a>
                <ul class="collapse list-unstyled" id="meetingSubmenu">
                    <li>
                        <a th:href="@{/add/meetingRequest}">Toplantı Talebi Oluştur</a>
                    </li>
                    <li>
                        <a th:href="@{/list/meetingRequest}">Toplantı Talepleri</a>
                    </li>
                    <li>
                        <a th:href="@{/add/meetingType}">Toplantı Türü Ekle</a>
                    </li>
                    <li>
                        <a th:href="@{/list/meetingType}">Toplantı Türleri</a>
                    </li>
                    <li>
                        <a th:href="@{/add/meetingStatus}">Toplantı Durumu Ekle</a>
                    </li>
                    <li>
                        <a th:href="@{/list/meetingStatus}">Toplantı Durumları</a>
                    </li>
                    <li>
                        <a th:href="@{/add/reason}">Sebep Ekle</a>
                    </li>
                    <li>
                        <a th:href="@{/list/reason}">Sebepler</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#officeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Ofis İşlemleri</a>
                <ul class="collapse list-unstyled" id="officeSubmenu">
                    <li>
                        <a th:href="@{/add/building}">Şirket Binası Ekle</a>
                    </li>
                    <li>
                        <a th:href="@{/list/building}">Şirket Binaları</a>
                    </li>
                    <li>
                        <a th:href="@{/add/meetingRoom}">Toplantı Odası Ekle</a>
                    </li>
                    <li>
                        <a th:href="@{/list/meetingRoom}">Toplantı Odaları</a>
                    </li>
                    <li>
                        <a th:href="@{/add/roomFeature}">Toplantı Odası İçin Özellik Ekle</a>
                    </li>
                    <li>
                        <a th:href="@{/list/roomFeature}">Toplantı Odası Özelliklerini Listele</a>
                    </li>
                </ul>
            </li>
            <li>
                <a th:href="@{/member/meetingRequest}">Toplantı Taleplerim </a>
            </li>
        </ul>
    </div>
    <div id="accordion" sec:authorize="hasRole('ROLE_STANDARD')">
        <ul class="list-unstyled components">
            <p>İşlemler</p>
            <li>
                <a th:href="@{/add/meetingRequest}" >Toplantı Talep Et</a>
            </li>
            <li>
                <a th:href="@{/member/meetingRequest}" >Toplantı Taleplerim</a>
            </li>
        </ul>
    </div>
    <div id="accordion" sec:authorize="hasRole('ROLE_SUPERVISOR')">
        <ul class="list-unstyled components">
            <p>İşlemler</p>
            <li>
                <a th:href="@{/list/pendingRequest}">Toplantı Talepleri <span class="badge badge-danger" id="numOfPendingRequets"></span></a>
                <a th:href="@{/add/meetingRequest}">Toplantı Talep Et</a>
            </li>
        </ul>
    </div>
</nav>

<input th:fragment="creatorIdInput" th:attr="name=creatorId" type="hidden" th:value="${#authentication.principal.memberId}" >

<input th:fragment="updaterIdInput" th:attr="name=updaterId" type="hidden" th:value="${#authentication.principal.memberId}" >

<button th:fragment="listEditButton" class="btn btn-sm btn-outline-info">
    <span class="fas fa-pencil-alt"/>
</button>

<button th:fragment="listDeleteButton" class="btn btn-sm btn-outline-danger" type="submit">
    <span class="fas fa-trash-alt"/>
</button>

<div th:fragment="scripts">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!--<link rel="stylesheet" href="/resources/demos/style.css">-->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/js/main.js}" src="../static/js/main.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $('.deactivateForm').on('submit', function(e) {
            var form = this;
            e.preventDefault();
            swal({
                    title: "Emin misiniz?",
                    text: "Silinen kayıtlar geri getirilemez.",
                    icon: "warning",
                    buttons: true,
                    buttons: ["Vazgeç", "Evet"],
                    dangerMode: true,
                }).then((willDelete) => {
                    if (willDelete) {
                         form.submit()
                    }
                });
        });
        $('.logoutForm').on('submit', function(e) {
            var form = this;
            e.preventDefault();
            swal({
                    title: "Emin misiniz?",
                    text: "Çıkmak istediğinize emin misiniz?.",
                    icon: "warning",
                    buttons: true,
                    buttons: ["Vazgeç", "Evet"],
                    dangerMode: true,
                }).then((willDelete) => {
                    if (willDelete) {
                         form.submit()
                    }
                });
        });
    </script>
</div>

</html>