<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<div th:replace="fragments/fragments :: head(content = 'Toplantı Talep Formu')"></div>

<body>

<div class="wrapper">
	<div th:replace="fragments/fragments :: sidebar"></div>
		<div class="content">
            <div th:replace="fragments/fragments :: navbar"></div>
            <h2 class="mb-4">Toplantı Talep Formu</h2>

			<!--MEETING_REQUEST_FORM BEGINS-->
            <form th:action="@{/add/meetingRequest}" th:object="${addMeetingRequestForm}" th:method="post" autocomplete="off" id="requestMeeting">


				<!--DATE & LOCATION INFO STARTS-->
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<label>Toplantı Tarihi:</label>
							<input type="date" th:field="*{date}" class="form-control dateLocationInfo" placeholder="Toplantı Tarihi" id="datePicker"/>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-group">
							<label for="buildingId">Bina:</label>
							<select th:field="*{buildingId}" class="custom-select dateLocationInfo" id="buildingId">
								<option th:each="building : *{allBuildings}" th:value="${building.buildingId}" th:text="${building.buildingName}">
								</option>
							</select>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-group">
							<label for="meetingRoomId">Toplantı Odası</label>
							<select th:field="*{meetingRoomId}" class="custom-select dateLocationInfo" id="meetingRoomId">
								<!--<option th:each="meetingRoom : *{allMeetingRooms}" th:value="${meetingRoom.meetingRoomId}" th:text="${meetingRoom.meetingRoomName}">
                                </option>-->
								<option value="0">-</option>
							</select>
						</div>
					</div>
				</div>
				<!--DATE & LOCATION INFO ENDS-->

				<input type="hidden" th:attr="name=beginningTime" id="startTimeInput">
				<input type="hidden" th:attr="name=endTime" id="endTimeInput">

				<!--THE GRID STARTS-->
				<div id="theGrid" class="p-5">

				</div>
				<!--THE GRID ENDS-->




				<!--PARTICIPANTS START HERE-->
				<div class="row my-5">
					<div class="col-sm-6">
						<div class="row">
							<div class="col">
                                <div class="form-group">
                                    <label>Katılımcı Ekle:</label>
                                    <div class="table-responsive">
                                        <table class="table" id="example">
                                            <thead>
                                            <tr>
                                                <th scope="col">İsim</th>
                                                <th scope="col">E-mail</th>
                                                <th scope="col">Ekle</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="member : *{allMembers}">
                                                <td th:text="${member.firstName + ' ' + member.lastName}"></td>
                                                <td th:text="${member.email}"></td>
                                                <td class="text-center">
                                                    <button type="button" th:attr="value0=${member.memberId}, value1=${member.firstName + ' ' + member.lastName}, value2=${member.email}" class="btn btn-outline-info btn-sm addMember" style="border-radius:50%;">
                                                        <span class="fas fa-plus"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<div class="form-group">
									<label for="guestFullNameInput">Misafir Adı Soyadı:</label>
									<input type="text" class="form-control" id="guestFullNameInput" aria-describedby="emailHelp" placeholder="Ad Soyad">
								</div>
								<div class="form-group">
									<label for="guestEmailInput">E-mail:</label>
									<input type="email" class="form-control" id="guestEmailInput" placeholder="E-mail">
								</div>
								<button type="button" class="btn btn-info btn-block" id="addGuest">Misafir Katılımcı Ekle</button>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="row">
							<div class="col">

								<div class="form-group">
									<label>Eklenen Katımlıcılar:</label>
									<div class="table-responsive">
										<table class="table" id="example2">
											<thead>
											<tr>
												<th scope="col">İsim</th>
												<th scope="col">E-mail</th>
												<th scope="col">Ekle</th>
											</tr>
											</thead>
											<tbody id="addedMembersBody">
												<!--HTML WILL BE INSERTED BY JAVASCRIPT-->
											</tbody>
										</table>
									</div>
								</div>
								<div class="alert alert-warning" id="capacityWarning" role="alert" style="display: none">
									<!--capacity warning-->
								</div>

							</div>
						</div>
					</div>
				</div>

				<!--HIDDEN PARTICIPANT INPUT-->
				<select multiple th:attr="name=participantDetails" id="addedMembersMultipleSelect" style="display: none;">
					<!-- <option value="memberId" selected></option> -->
					<!-- append this option here -->
				</select>
				<!--HIDDEN PARTICIPANT INPUT ENDS HERE-->

				<!--DESCRIPTION STARTS HERE-->
				<div class="form-group">
					<label for="meetingTypeSelectMenu">Toplantı Türü:</label>
					<select class="custom-select" id="meetingTypeSelectMenu" th:field="*{meetingTypeId}">
						<option th:each="type : ${addMeetingRequestForm.allMeetingTypes}" th:text="${type?.meetingTypeName}" th:value = "${type?.meetingTypeId}"></option>
					</select>
			  	</div>

				<div class="form-group">
					<label for="descriptionInput">Açıklama:</label>
					 <textarea th:field="*{description}" type="text" class="form-control" id="descriptionInput" placeholder="Açıklama" rows="3" style="resize: none;"></textarea>
				</div>
				<!--DESCRIPTION ENDS HERE-->

				<div th:replace="fragments/fragments :: creatorIdInput"></div>
				<!--FEEDBACK_MESSAGES_START_HERE-->
				<div th:if="${#fields.hasErrors('date')}" th:errors="*{date}" class="alert alert-danger alert-dismissible fade show" role="alert"></div>
				<div th:if="${#fields.hasErrors('beginningTime')}" th:errors="*{beginningTime}" class="alert alert-danger alert-dismissible fade show" role="alert"></div>
				<div th:if="${#fields.hasErrors('endTime')}" th:errors="*{endTime}" class="alert alert-danger alert-dismissible fade show" role="alert"></div>
				<div th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="alert alert-danger alert-dismissible fade show" role="alert"></div>
				<!--FEEDBACK_MESSAGES_END_HERE-->
        		<button type="submit" class="btn btn-primary btn-info btn-block mt-5">Toplantı İsteği Oluştur</button>
    		</form>
		</div>
    </div>
   <div th:replace="fragments/fragments :: scripts"></div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-chained/1.0.1/jquery.chained.remote.min.js" integrity="sha256-s4fvhjtBM8Qdr848fG5m3T6LjoJl799Qax4fr/24r30=" crossorigin="anonymous"></script>
	<script type="text/javascript">

		$( document ).ready(function() {
			getAndPopulateMeetingRooms();
			meetingRoomCapacity = getRoomCapacity();
			document.querySelector("#datePicker").valueAsDate = new Date();
			drawTheGrid();
		});

		$("#buildingId").change(function(){
			getAndPopulateMeetingRooms();
		});

		$("#meetingRoomId").change(function (){
			meetingRoomCapacity = getRoomCapacity();
		});

		function getAndPopulateMeetingRooms(){
			let buildingId = $("#buildingId").val();
			let meetingRoomSelect = $("#meetingRoomId");

			$.ajax({
				url: "[[@{/getBuildingMeetingRooms}]]",
				data : {"buildingId" : buildingId}
			}).done(function(map) {
				meetingRoomSelect.empty();
				$.each(map, function(meetingRoomId, meetingRoomName)
				{
					console.log(meetingRoomId, meetingRoomName);
					meetingRoomSelect.append('<option value=' + meetingRoomId + '>' + meetingRoomName + '</option>');
				});
			});
		}

		function checkRoomCapacity(){
			let addedMemberCount = $('#example2').DataTable().rows().count();
			console.log(addedMemberCount + " people on the datatable.");

			if (addedMemberCount > meetingRoomCapacity){
				$("#capacityWarning").css("display", "block");
				$("#capacityWarning").text("Toplantı odasının kapasitesi " + meetingRoomCapacity + " kişi olarak belirlenmiştir.(" + addedMemberCount + " kişi eklendi.)");
			}
			else
				$("#capacityWarning").css("display", "none");
		}

		function getRoomCapacity(){
			let meetingRoomId = $("#meetingRoomId").val();

			$.ajax({
				url: "[[@{/getMeetingRoomCapacity}]]",
				data : {"meetingRoomId" : meetingRoomId}
			}).done(function(capacity) {
				meetingRoomCapacity = capacity;
				console.log(meetingRoomCapacity);
			});

		}

		function addParticipant(memberId, fullName, email){
			let addedMembers = $("#addedMembersMultipleSelect");
			let markup =
					'<option value="'+ memberId +'" selected></option>' +
					'<option value="'+ fullName +'" selected></option>' +
					'<option value="'+ email +'" selected></option>';
			markup = $($.parseHTML(markup));

			addedMembers.append(markup);
		}

		function  removeParticipant(memberId, fullName, email) {
			let addedMembers = $("#addedMembersMultipleSelect");
			let emailOption = $('option[value="'+ email +'"]');
			let fullNameOption = emailOption.prev();
			let memberIdOption = fullNameOption.prev();

			emailOption.remove();
			fullNameOption.remove();
			memberIdOption.remove();
		}

		function transferParticipantInfo(memberId, fullName, email){
			let addedMembersDataTable = $('#example2').DataTable();
			let allMembersTable = $('#example').DataTable();
			let newMarkup;

			if(memberId){
				newMarkup = $($.parseHTML(
						'<tr>' +
						'<td>' + fullName + '</td>' +
						'<td>' + email + '</td>' +
						'<td class="text-center">' +
						'<button type="button" value0="'+ memberId +'" value1="'+ fullName +'" value2="'+ email +'" class="btn btn-sm btn-outline-danger deleteParticipant" style="border-radius: 50%;">' +
						'<span class="fas fa-minus"></span>' +
						'</button>' +
						'</td>' +
						'</tr>'));
				let memberButton = $('button[value0='+ memberId +']');
				allMembersTable.rows(memberButton.parent().parent()).remove().draw();
			}
			else
				newMarkup = $($.parseHTML(
						'<tr>' +
						'<td>' + fullName + '<small class="text-muted"> (Misafir)</small></td>' +
						'<td>' + email + '</td>' +
						'<td class="text-center">' +
						'<button type="button" value0="" value1="'+ fullName +'" value2="'+ email +'" class="btn btn-sm btn-outline-danger deleteParticipant" style="border-radius: 50%;">' +
						'<span class="fas fa-minus"></span>' +
						'</button>' +
						'</td>' +
						'</tr>'));


			addParticipant(memberId, fullName, email);
			addedMembersDataTable.row.add(newMarkup).draw();			//update added members table
		}

		let meetingRoomCapacity;

		$(document).on('click','.addMember', function() {
			let clickedMemberId = $(this).attr("value0");
			let memberName = $(this).attr("value1");
			let email = $(this).attr("value2");

			transferParticipantInfo(clickedMemberId, memberName, email);
			checkRoomCapacity();
		});

		$(document).on('click','#addGuest', function(){
			let guestFullNameInput = $("#guestFullNameInput");
			let guestEmailInput = $("#guestEmailInput");
			let guestFullName = guestFullNameInput.val();
			let guestEmail = guestEmailInput.val();


			if ((guestFullName !== "") && (guestEmail !== "")) {
				//Clear inputs in the add guest form.
				guestFullNameInput.val('');
				guestEmailInput.val('');

				transferParticipantInfo("", guestFullName, guestEmail);
			}
			checkRoomCapacity();
		});

		$(document).on('click','.deleteParticipant', function(){
			let addedMembersDataTable = $('#example2').DataTable();
			let allMembersTable = $('#example').DataTable();

			let clickedRow = $(this).parent().parent();
			let memberId = $(this).attr('value0');
			let fullName = $(this).attr('value1');
			let email = $(this).attr('value2');

			console.log(memberId + " " + fullName + " " + email);

			if(memberId) {
				let newMarkup = $($.parseHTML(
						'<tr>' +
						'<td>' + fullName + '</td>' +
						'<td>' + email + '</td>' +
						'<td class="text-center">' +
						'<button type="button" value0="' + memberId + '" value1="' + fullName + '" value2="' + email + '" class="btn btn-sm btn-outline-info addMember" style="border-radius: 50%;">' +
						'<span class="fas fa-plus"></span>' +
						'</button>' +
						'</td>' +
						'</tr>'));

				allMembersTable.row.add(newMarkup).draw();
			}


			addedMembersDataTable.rows(clickedRow).remove().draw();
			removeParticipant(memberId, fullName, email);
			checkRoomCapacity();
		});

		$(document).on('change', '.dateLocationInfo', function(){
			let date = $("#datePicker").val();
			let meetingRoomId = $("#meetingRoomId").val();


			$.ajax({
				url: "[[@{/getGridData}]]",
				data : {"date" : date,
						"meetingRoomId" : meetingRoomId
				}
			}).done(function(map) {
				$.each(map, function(startTime, endTime){
					markAsTakenInBetween(hourToInt(startTime), hourToInt(endTime));
				});
			});
		});

		function drawTheGrid(){
			let theGrid = $('#theGrid');

			for (let hour = 8; hour < 18; hour++){
				let row = $($.parseHTML('<div class="row"></div>'));
				for(minute  = 0; minute < 60; minute+=5){
					let column = $($.parseHTML('<div class="col-sm-1 p-0"></div>'));

					let time = "";

					time = (hour < 10 ? "0" + hour + ":" :  time + hour + ":");

					time += (minute < 10 ? "0" + minute : minute);

					let timeHolder = $($.parseHTML('<div class="timeHolder p-1 m-1 text-center rounded h-90 w-90" time="' + time + '"><small class="unselectable">' + time + '</small></div>'));

					column.append(timeHolder);
					row.append(column);
				}
				theGrid.append(row);
			}
		}

		let clicked1 = undefined, clicked2 = undefined;

		$(document).on('click', '.timeHolder', function () {
			if($(this).attr("taken") === "true"){	//taken cell
				console.log("cant touch this bro.");
			}
			else{
				if(clicked1 === undefined){	//first click
					clicked1 = $(this);
					markAsSelected(clicked1);
				}
				else if(clicked2 === undefined){ //second click fill in between
					clicked2 = $(this);

					if(clicked1.is(clicked2)){	//same button is clicked
						markAsNotSelected(clicked1);
						clicked1 = undefined;
						clicked2 = undefined;
					}
					else{
						let time1 = clicked1.attr("time");
						let time2 = clicked2.attr("time");

						let time1value = hourToInt(time1);
						let time2value = hourToInt(time2);

						markAsSelectedInBetween(time1value, time2value);
					}
				}
				else{ //new selection, clear current selection
					let time1 = clicked1.attr("time");
					let time2 = clicked2.attr("time");

					let time1value = hourToInt(time1);
					let time2value = hourToInt(time2);

					markAsNotSelectedInBetween(time1value, time2value);
					clicked1 = $(this);
					let newClickedValue = hourToInt(clicked1.attr("time"));

					if ((newClickedValue >= time1value && newClickedValue <= time2value) || (newClickedValue <= time1value && newClickedValue >= time2value)){	//inside current selection
						clicked1 = undefined;
					}
					else{
						markAsSelected(clicked1);
					}

					clicked2 = undefined;
				}
			}

		});

		function hourToInt(time){	//takes an hour string "hh:mm", returns the corresponding integer
			let parts = time.split(":");
			let hour = parseInt(parts[0]);
			let minute = parseInt(parts[1]);

			return ((hour*60) + minute)-480;
		}

		function intToHour(x) {
			let timeString = "";
			x += 480;
			let hour = Math.floor(x/60);
			let minute = x%60;

			timeString = (hour < 10 ? "0" + hour + ":" :  timeString + hour + ":");

			timeString += (minute < 10 ? "0" + minute : minute);

			return timeString;
		}

		function markAsSelectedInBetween(value1, value2) {
			if(value2 < value1){
				let temp = value1;
				value1 = value2;
				value2 = temp;
				let tempClick = clicked1;
				clicked1 = clicked2;
				clicked2 = tempClick;
			}

			let prev, current;

			for (let i = value1; i <= value2; i+=5){
				prev = current;
				current = $('.timeHolder[time="'+ intToHour(i) +'"]');
				if(current.attr("taken") !== "true")
					markAsSelected(current);
				else{
					value2 = i-5;
					markAsNotSelected(clicked2);
					clicked2 = prev;
					break;
				}

			}

			setTimeInputs(intToHour(value1), intToHour(value2));
		}

		function setTimeInputs(startTime, endTime){
			$("#startTimeInput").val(startTime);
			$("#endTimeInput").val(endTime);
		}

		function markAsNotSelectedInBetween(value1, value2) {
			if(value2 < value1){
				let temp = value1;
				value1 = value2;
				value2 = temp;
			}

			for (let i = value1; i <= value2; i+=5){
				let current = $('.timeHolder[time="'+ intToHour(i) +'"]');
				markAsNotSelected(current);
			}
		}

		function markAsTakenInBetween(value1, value2) {
			if(value2 < value1){
				let temp = value1;
				value1 = value2;
				value2 = temp;
			}

			for (let i = value1; i <= value2; i+=5){
				let current = $('.timeHolder[time="'+ intToHour(i) +'"]');
				markAsTaken(current);
			}
		}

		function markAsSelected(element){
			element.animate({backgroundColor: "#17a2b8"}, 200);
		}

		function markAsNotSelected(element){
			element.animate({backgroundColor: "#E4E4E4"}, 200);
		}

		function markAsTaken(element){
			element.css("background", "#F08080");
			element.attr("taken", "true");
		}

	</script>
</body>
</html>
