<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<div th:replace="fragments/fragments :: head(content = 'Toplantı Talebi Gönderme Formu')"></div>

<body>

<div class="wrapper">
	<div th:replace="fragments/fragments :: sidebar"></div>
		<div class="content">
            <div th:replace="fragments/fragments :: navbar"></div>
            <h2 class="mb-4">Toplantı Talebi Gönderme Formu</h2>
            <form th:action="@{/add/meetingRequest}" th:object="${addMeetingRequestForm}" th:method="post" autocomplete="off">
                 <div class="form-group">
			            <label for="dateInput">Toplantı Tarihi:</label>
			            <input th:field="*{startTime}" type="time-local" class="form-control" id="dateInput" placeholder="Tarih">
			        </div>
			
			        <input size="16" type="text" value="2012-06-15 14:45" readonly class="form_datetime">
			
			        <script type="text/javascript">
			            $(".form_datetime").datetimepicker({format: 'yyyy-mm-dd hh:ii'});
			        </script>
			                  <div class="form-group">
						            <label for="meetingTypeSelectMenu">Toplantı Türü:</label>
						            <select class="custom-select" id="meetingTypeSelectMenu" th:field="*{meetingTypeId}">
						                <option th:each="r : ${allMeetingTypes}" th:text="${r?.description}" th:value = "${r?.meetingTypeId}"></option>
						            </select>
						      </div>
						  		<div class="row">
						            <div class="col-md-6">
						                <div class="form-group">
						                    <label for="meetingRoomSelectMenu">Toplantı Odası:</label>
						                    <select class="custom-select" id="meetingRoomSelectMenu" th:field="*{meetingRoomId}">
						                        <option th:each="r : ${allMeetingRooms}" th:text="${r?.meetingRoomId}" th:value = "${r?.meetingRoomId}"></option>
						                    </select>
						             </div>
		            			</div>
		                       		<div class="col-md-6">
						                <div class="form-group">
						                    <label for="memberSelectMenu">Odayı Ayırtmak İsteyen Üye:</label>
						                    <select class="custom-select" id="memberSelectMenu" th:field="*{memberId}">
						                        <option th:each="r : ${allMembers}" th:text="${r?.firstName}" th:value = "${r?.memberId}"></option>
						                    </select>
						                </div>
						            </div>
						        </div>
				        <div class="row">
				            <div class="col-md-6">
				                <div class="form-group">
				                    <label for="startTimeInput">Başlangıç Saati:</label>
				                    <input th:field="*{startTime}" type="time-local" class="form-control" id="startTimeInput" placeholder="Başlangıç Saati">
				                </div>
				            </div>
				            <div class="col-md-6">
				                <div class="form-group">
				                    <label for="endTimeInput">Bitiş Saati:</label>
				                    <input th:field="*{endTime}" type="time-local" class="form-control" id="endTimeInput" placeholder="Bitiş Saati">
				                </div>
				            </div>
				        </div>

			        		<div class="form-group">
			            		<label for="descriptionInput">Açıklama:</label>
			           			 <textarea th:field="*{description}" type="text" class="form-control" id="descriptionInput" placeholder="Açıklama" rows="3" style="resize: none;"></textarea>
			        		</div>

			       			<div th:if="${#fields.hasErrors('startTime')}" th:errors="*{startTime}" class="alert alert-danger alert-dismissible fade show" role="alert">
			        		</div>
			        		<div th:if="${#fields.hasErrors('endTime')}" th:errors="*{endTime}" class="alert alert-danger alert-dismissible fade show" role="alert">
			        		</div>
			        
			        		<div th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="alert alert-danger alert-dismissible fade show" role="alert">
			        		</div>
     
        		<button type="submit" class="btn btn-primary btn-info btn-block mt-5">Toplantı İsteği Oluştur</button>
    		</form>
		</div>
    </div>
   <div th:replace="fragments/fragments :: scripts"></div>
</body>
</html>
