<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<div th:replace="fragments/fragments :: head(content = 'Rol Ekleme Formu')"></div>

<body>
    <div class="wrapper">
        <div th:replace="fragments/fragments :: sidebar"></div>
        <div class="content">

            <div th:replace="fragments/fragments :: navbar"></div>
            <h2 class="mb-4">Rol Ekleme Formu</h2>
            <form th:action="@{/add/role}" th:object="${addRoleForm}" th:method="post" autocomplete="off">

                <div class="form-group">
                    <label for="roleNameInput">Rol Adı:</label>
                    <input th:field="*{roleName}" type="text" class="form-control" id="roleNameInput" placeholder="Rol Adı">
                </div>

                <div class="form-group">
                    <label for="rightSelectMenu">Yetkiler: <span class="small text-muted">(CTRL ile toplu seçim yapılabilir.)</span></label>
                    <select multiple class="custom-select" id="rightSelectMenu" th:field="*{rightIds}">
                        <option th:each="right : *{allRights}" th:text="${right?.rightName}" th:value = "${right?.rightId}"></option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="descriptionInput">Rol Açıklaması:</label>
                    <textarea th:field="*{description}" type="text" class="form-control" id="descriptionInput" placeholder="Rol açıklaması" rows="3" maxlength="250" style="resize: none;"/>
                </div>

                <div th:replace="fragments/fragments :: creatorIdInput"></div>

                <div th:replace="fragments/fragments :: successMessage"></div>

                <div th:if="${#fields.hasErrors('roleName')}" th:errors="*{roleName}" class="alert alert-danger alert-dismissible fade show" role="alert">
                </div>

                <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="alert alert-danger alert-dismissible fade show" role="alert">
                </div>

                <button type="submit" class="btn btn-primary btn-info btn-block mt-5">Rol Ekle</button>
            </form>
        </div>
    </div>
    <div th:replace="fragments/fragments :: scripts"></div>
</body>
</html>
