<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<div th:replace="fragments/fragments :: head(content = 'Özellik Ekleme Formu')"></div>


<body>

<div class="wrapper">
    <div th:replace="fragments/fragments :: sidebar"></div>
    <div class="content">
        <div th:replace="fragments/fragments :: navbar"></div>
        <h2 class="mb-4">Toplantı Odaları İçin Özellik Ekleme Formu </h2>

        <div th:replace="fragments/fragments :: successMessage"></div>

        <form th:action="@{/add/roomFeature}" th:object="${addRoomFeatureForm}" th:method="post" autocomplete="off">
            <div class="form-group">
                <label for="featureNameInput">Özellik:</label>
                <input th:field="*{featureName}" type="text" class="form-control" id="featureNameInput" placeholder=" Özellik ">
            </div>
            <div th:replace="fragments/fragments :: errorMessage(condition = ${#fields.hasErrors('featureName')}, field = 'featureName')"></div>
            <div class="form-group">
                <label for="featureDescription">Özellik Açıklaması:</label>
                <textarea th:field="*{description}" type="text" class="form-control" id="featureDescription" placeholder="Açıklama" rows="3" maxlength="250" style="resize: none;"/>
            </div>

            <div th:replace="fragments/fragments :: creatorIdInput"></div>

            <button type="submit" class="btn btn-primary btn-info btn-block mt-5">Özellik ekle </button>

        </form>
    </div>
</div>
<div th:replace="fragments/fragments :: scripts"></div>
</body>
</html>