<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<div th:replace="fragments/fragments :: head(content='Şifre Değiştir')"></div>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto p-3 mt-5 jumbotron">
                <h2 class="text-center">Şifre Değiştir</h2>
                <p class="text-muted text-center font-italic">Şifre değiştirme linki gönderebilmemiz için lütfen e-mail adresinizi girin.</p>
                <form action="#" th:action="@{/change-password}" th:object="${member}" method="post">
                    <div class="form-group">
                        <label for="email">E-mail:</label>
                        <input id="email" th:field="*{email}" th:value="${member.email}" type="email" class="form-control form-control-lg" placeholder="E-mail" readonly>
                    </div>
                    <button class="btn btn-lg btn-info btn-block">Gönder <span class="fas fa-paper-plane"></span></button>
                   <!-- <div th:replace="fragments/fragments :: errorMessage(condition = ${#fields.hasErrors('email')}, field = 'email')"></div>-->
                    <a class="btn btn-lg btn-danger btn-block mt-2" th:href="@{/profile}">Geri Dön <span class="fas fa-undo"></span></a>

                </form>
                <div th:if="${passwordErrorMessage}" class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
                    <span th:text="${passwordErrorMessage}"></span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

            </div>
        </div>
    </div>
    <div th:replace="fragments/fragments :: scripts"></div>
</body>
</html>