<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<div th:replace="fragments/fragments :: head(content = 'Profil Güncelleme Formu')"></div>

<body>
    <div class="wrapper">
        <div th:replace="fragments/fragments :: sidebar"></div>
        <div class="content">
            <div th:replace="fragments/fragments :: navbar"></div>
            <h2 class="mb-4">Profil Güncelleme Formu</h2>
            <form th:action="@{/profile/edit}" th:object="${addMemberForm}" th:method="post"  id="memberEditForm" autocomplete="off">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="firstNameInput">İsim:</label>
                            <input th:attr="name=firstName" th:value="${addMemberForm.firstName}" type="text" class="form-control" id="firstNameInput" placeholder="İsim">
                        </div>
                        <div th:replace="fragments/fragments :: errorMessage(condition = ${#fields.hasErrors('firstName')}, field = 'firstName')"></div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="lastNameInput">Soyisim:</label>
                            <input th:field="*{lastName}" th:value="${addMemberForm.lastName}" type="text" class="form-control" id="lastNameInput" placeholder="Soyisim">
                        </div>
                        <div th:replace="fragments/fragments :: errorMessage(condition = ${#fields.hasErrors('lastName')}, field = 'lastName')"></div>
                    </div>
                </div>
                <input th:attr="name=originalEmail" type="hidden" th:value="${addMemberForm.email}">
                        <div class="form-group">
                            <label for="newEmail">E-mail:</label>
                            <input th:attr="name=newEmail" th:value="${addMemberForm.email}" type="text" class="form-control" id="newEmail" placeholder="Email">
                        </div>
                    <div th:replace="fragments/fragments :: errorMessage(condition = ${#fields.hasErrors('email')}, field = 'email')"></div>
                    <div th:replace="fragments/fragments :: errorMessage(condition = ${#fields.hasErrors('newEmail')}, field = 'newEmail')"></div>
                        <div class="form-group">
                            <label for="phoneInput">Telefon:</label>
                            <input th:field="*{phone}" th:value="${addMemberForm.phone}" type="text" class="form-control" id="phoneInput" placeholder="Telefon #">
                        </div>
                        <div th:replace="fragments/fragments :: errorMessage(condition = ${#fields.hasErrors('phone')}, field = 'phone')"></div>            
                <div th:replace="fragments/fragments :: updaterIdInput"></div>
                <div th:replace="fragments/fragments :: successMessage"></div>

                <input th:attr="name=recordId" type="hidden" th:value="${addMemberForm.recordId}">
                <button type="submit" class="btn btn-primary btn-info btn-block mt-5">Profili Güncelle</button>

            </form>
        </div>
    </div>
    <div th:replace="fragments/fragments :: scripts"></div>
</body>
</html>