<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<div th:replace="fragments/fragments :: head(content = 'Özellik Ekleme Formu')"></div>

<body>
<div class="wrapper">
    <div th:replace="fragments/fragments :: sidebar"></div>
    <div class="content">
        <div th:replace="fragments/fragments :: navbar"></div>
        <h2 class="mb-4">Toplantı Odalarının Özelliğini Değiştirme Formu </h2>
        <form th:action="@{/edit/roomFeature}" th:object="${addRoomFeatureForm}" th:method="post" autocomplete="off">
            <div class="form-group">
                <div class="form-group">
                    <label for="featureNameInput">Özellik:</label>
                    <input th:field="*{featureName}" type="text" class="form-control" id="featureNameInput" placeholder=" Özellik ">
                </div>
                <label for="featureDescription">Özellik Açıklaması:</label>
                <textarea th:field="*{description}" type="text" class="form-control" id="featureDescription" placeholder="Açıklama" rows="3" maxlength="250" style="resize: none;"/>
            </div>
    <div th:replace="fragments/fragments :: updaterIdInput"></div>
    <div th:replace="fragments/fragments :: successMessage"></div>

            <div th:if="${#fields.hasErrors('featureName')}" th:errors="*{featureName}" class="alert alert-danger alert-dismissible fade show" role="alert">
            </div>
            <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="alert alert-danger alert-dismissible fade show" role="alert">
            </div>
            <input th:attr="name=recordId" type="hidden" th:value="${addRoomFeatureForm.recordId}">
            <button type="submit" class="btn btn-primary btn-info btn-block mt-5">Özelliği Değiştir</button>
        </form>
    </div>
</div>
<div th:replace="fragments/fragments :: scripts"></div>
</body>
</html>