<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<div th:replace="fragments/fragments :: head(content = 'Toplantı Durumu Değiştirme Formu')"></div>

<body>


<div class="wrapper">
        <div th:replace="fragments/fragments :: sidebar"></div>
        <div class="content">
            <div th:replace="fragments/fragments :: navbar"></div>
            <h2 class="mb-4">Toplantı Durumu Değiştirme Formu</h2>
            
            <form th:action="@{__${#httpServletRequest.requestURL}__}" th:object="${addMeetingStatusForm}" th:method="post" id="meetingStatusEditForm" autocomplete="off">
            
              <div class="form-group">
                    <label for="firstNameInput">Durum Adı:</label>
                   <input th:field="*{meetingStatusName}" th:value="${addMeetingStatusForm.meetingStatusName}" type="text" class="form-control" id="firstNameInput" placeholder="Durum">
              </div>
                <div th:replace="fragments/fragments :: errorMessage(condition = ${#fields.hasErrors('meetingStatusName')}, field = 'meetingStatusName')"></div>
              <div class="form-group">
                <label for="reasonSelectMenu">Sebep:</label>
                 <select class="custom-select" id="reasonSelectMenu" th:field="*{reasonId}">
                   <option th:each="r : *{allReasons}" th:text="${r.reasonName}" th:value="${r.reasonId}" th:selected="(*{reasonId} == ${r.reasonId})"></option>
                 </select>
             </div>
                <div th:replace="fragments/fragments :: errorMessage(condition = ${#fields.hasErrors('reasonId')}, field = 'reasonId')"></div>
             
             	<input th:attr="name=recordId" type="hidden" th:value="${addMeetingStatusForm.recordId}">
             
                 <div th:replace="fragments/fragments :: updaterIdInput"></div>
                 <div th:replace="fragments/fragments :: successMessage"></div>

                <button type="submit" class="btn btn-primary btn-info btn-block mt-5">Toplantı Durumunu Değiştir</button>
                <a class="btn btn-primary btn-danger btn-block mt-5" th:href="@{/list/meetingStatus}">Geri Dön <span class="fas fa-undo"></span></a>
            </form>
        </div>
    </div>
    <div th:replace="fragments/fragments :: scripts"></div>
</body>
</html>

