<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<div th:replace="fragments/fragments :: head(content = 'Yetki Değiştirme Formu')"></div>

<body>


<div class="wrapper">
        <div th:replace="fragments/fragments :: sidebar"></div>
        <div class="content">
            <div th:replace="fragments/fragments :: navbar"></div>
            <h2 class="mb-4">Yetki Değiştirme Formu</h2>
            <form th:action="@{__${#httpServletRequest.requestURL}__}" th:object="${addRightForm}" th:method="post" id="RightEditForm" autocomplete="off">
                <div class="form-group">
                    <label for="rightNameInput">Yetki Adı:</label>
                   <input th:attr="name=rightName" th:value="${addRightForm.rightName}" type="text" class="form-control" id="rightNameInput" placeholder="Yetki">
               </div>
                <div th:replace="fragments/fragments :: errorMessage(condition = ${#fields.hasErrors('rightName')}, field = 'rightName')"></div>
                        <div class="form-group">
		                    <label for="descriptionInput">Açıklama:</label>
		                    <textarea th:field="*{description}" th:value="${addRightForm.description}" type="text" class="form-control" id="descriptionInput" placeholder="Açıklama" rows="3" maxlength="250" style="resize: none;"></textarea>
               		   </div>
                    <div th:replace="fragments/fragments :: errorMessage(condition = ${#fields.hasErrors('description')}, field = 'description')"></div>
                 <div th:replace="fragments/fragments :: updaterIdInput"></div>
                 <div th:replace="fragments/fragments :: successMessage"></div>

                <input th:attr="name=recordId" type="hidden" th:value="${addRightForm.recordId}">
                <button type="submit" class="btn btn-primary btn-info btn-block mt-5">Yetkiyi Değiştir</button>
                
                <a class="btn btn-primary btn-danger btn-block mt-5" th:href="@{/list/right}">Geri Dön <span class="fas fa-undo"></span></a>
            </form>
        </div>
    </div>
    <div th:replace="fragments/fragments :: scripts"></div>
</body>
</html>

