<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head> <title>Forgot Password</title> </head>
<body>
<center>
    <form action="#" th:action="@{/forgot-password}" th:object="${member}" method="post">
        <table>
            <tr>
                <td><label for="email"> Email</label></td>
                <td><input th:field="*{email}" type="text" id="email"></input></td>
            </tr>
            <tr>
                <td><input type="reset" value="Clear"/></td>
                <td><input type="submit" value="Reset Password"></input></td>
            </tr>
        </table>
    </form>
</center>
</body>
</html>