<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<div th:replace="fragments/fragments :: head(content = 'Anasayfa')"></div>

<body>
    <div class="wrapper">
        <div th:replace="fragments/fragments :: sidebar(numOfPendingRequests = ${numOfPendingRequests})"></div>
        <div class="content">
            <div th:replace="fragments/fragments :: navbar"></div>
            <h2>Dijital Toplantı'ya Hoşgeldiniz</h2>
            <a th:href="@{add/meetingRequest}" class="btn btn-info text-white btn-block" sec:authorize="hasRole('ROLE_STANDARD')">Toplantı Talebi Oluştur</a>

        </div>
    </div>
    <div th:replace="fragments/fragments :: scripts"></div>
</body>
</html>