<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<div th:replace="fragments/fragments :: head(content = 'Rol Ekleme Formu')"></div>

<body>
    <div class="wrapper">
        <div th:replace="fragments/fragments :: sidebar"></div>
        <div class="content">
            <div th:replace="fragments/fragments :: navbar"></div>
            <h2 class="mb-4">Roller</h2>
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Rol Adı</th>
                        <th scope="col">Yetkiler</th>
                        <th scope="col">Açıklama</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="role : ${listRoles}">
                        <td th:text="${role.roleName}"></td>
                        <td th:text="${role.getAllRightNamesString()}"></td>
                        <td th:text="${role.description}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div th:replace="fragments/fragments :: scripts"></div>
</body>
</html>