<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<div th:replace="fragments/fragments :: head(content = 'Şirket Binaları')"></div>

<body>

	<div class="wrapper">
        <div th:replace="fragments/fragments :: sidebar"></div>
        <div class="content">
            <div th:replace="fragments/fragments :: navbar"></div>
            <h2>Şirket Binaları</h2>
            <div class="table-responsive">
                <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Bina Adı</th>
            <th scope="col">Bina Adresi</th>
            <th scope="col">İşlemler</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="building : ${listBuildings}">
            <td th:text="${building.buildingName}"></td>
            <td th:text="${building.buildingAddr}"></td>
            <td>
                <form th:action="@{/list/building}" th:object="${idTransfer}" th:method="post" class="deactivateForm float-left mr-2">
                    <div th:replace="fragments/fragments :: listDeleteButton"></div>
                    <input th:attr="name=recordId" type="hidden" th:value="${building.buildingId}" >
                </form>
                <form th:action="@{/edit/building/__${building.buildingId}__}" th:object="${idTransfer}" th:method="get" class="editForm">
	                <button th:replace="fragments/fragments :: listEditButton"></button>
<!--
	                <input th:attr="name=recordId" type="hidden" th:value="${building.buildingId}">
-->
	             </form>
              </td>
            </tr>
          </tbody>
        </table>
       </div>
     </div>
    </div>
   <div th:replace="fragments/fragments :: scripts"></div>
</body>
</html>