<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<div th:replace="fragments/fragments :: head(content = 'Kullanıcılar')"></div>

<body>

    <div class="wrapper">
        <div th:replace="fragments/fragments :: sidebar"></div>
        <div class="content">
            <div th:replace="fragments/fragments :: navbar"></div>
            <h2>Kullanıcılar</h2>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">İsim</th>
                        <th scope="col">Soyisim</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Telefon</th>
                        <th scope="col">Rol</th>
                        <th scope="col">İşlemler</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="member : ${listMembers}">
                        <td th:text="${member.firstName}"></td>
                        <td th:text="${member.lastName}"></td>
                        <td th:text="${member.email}"></td>
                        <td th:text="${member.phone}"></td>
                        <td th:text="${member.role?.roleName}"></td>
                        <td>
                			 <form th:action="@{/list/member}" th:object="${idTransfer}" th:method="post" class="deactivateForm">
                 				<div th:replace="fragments/fragments :: listOpsButtons"></div>
                 				<input th:attr="name=recordId" type="hidden" th:value="${member.memberId}">
                 			 </form>
              			</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div th:replace="fragments/fragments :: scripts"></div>
</body>
</html>