<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<div th:replace="fragments/fragments :: head(content = 'Toplantı Sebepleri')"></div>

<body>

	<div class="wrapper">
        <div th:replace="fragments/fragments :: sidebar"></div>
        <div class="content">
            <div th:replace="fragments/fragments :: navbar"></div>
            <h2>Toplantı Sebepleri</h2>
            <div class="table-responsive">
                <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Sebep</th>
            <th scope="col">Açıklama</th>
            <th scope="col">İşlemler</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="reason : ${listReasons}">
            <td th:text="${reason.reasonName}"></td>
            <td th:text="${reason.description}"></td>
            <td>
            	 <form th:action="@{/list/reason}" th:object="${idTransfer}" th:method="post" class="deactivateForm float-left mr-2">
	                 <button th:replace="fragments/fragments :: listDeleteButton"></button>
	                 <input th:attr="name=recordId" type="hidden" th:value="${reason.reasonId}">
                 </form>
                 <form th:action="@{/list/reason}" th:object="${idTransfer}" th:method="put" class="editForm">
	                 <button th:replace="fragments/fragments :: listEditButton"></button>
	                 <input th:attr="name=recordId" type="hidden" th:value="${reason.reasonId}">
                 </form>
              </td>
            </tr>
          </tbody>
        </table>
       </div>
     </div>
    </div>
   <div th:replace="fragments/fragments :: scripts"></div>
</body>
</html>