<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<div th:replace="fragments/fragments :: head(content = 'Giriş')"></div>

<body>
    <div class="container mt-5">
    <h1 class="text-center mb-5">Dijital Toplantı'ya Hoşgeldiniz!</h1>
    <div class="row h-100 pb-5">
        <div class="col-md-8 p-md-5 my-lg-auto mx-auto">

            <form th:action="@{/login}" th:method="post" autocomplete="off">
                <div th:if="${error}">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <span>Kullanıcı adı veya şifre hatalı!</span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>

                <div th:replace="fragments/fragments :: successMessage"></div>
                <div class="form-group">
                    <label for="username">Kullanıcı Adı:</label>
                    <input type="text" class="form-control form-control-lg" id="username" name="username" aria-describedby="emailHelp" placeholder="kullaniciadi">
                </div>
                <div class="form-group">
                    <label for="password">Şifre:</label>
                    <input type="password" class="form-control form-control-lg" id="password" name="password" placeholder="******">
                </div>
                <button type="submit" class="btn btn-block btn-info btn-lg">Giriş</button>

                <a href="/forgot-password" class="float-right mt-4 text-muted">Şifremi Unuttum</a>

            </form>
        </div>
    </div>

</div>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
        $(".alert").alert();
    </script>
</body>
</html>