<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<div th:replace="fragments/fragments :: head(content = 'Profil')"></div>

<body>
<div class="wrapper">
    <div th:replace="fragments/fragments :: sidebar"></div>
    <div class="content">
        <div th:replace="fragments/fragments :: navbar"></div>
        <h2 class="mb-4">Profil</h2>
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Kullanıcı Bilgileri</h4>
            </div>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <span class="text-muted">İsim: </span><span sec:authentication="principal.firstName"/> <span sec:authentication="principal.lastName"/>
                    </li>
                    <li class="list-group-item">
                        <span class="text-muted">Kullanıcı Adı: </span><span sec:authentication="principal.username"/>
                    </li>
                    <li class="list-group-item">
                        <span class="text-muted">E-mail: </span><span sec:authentication="principal.email"/>
                    </li>
                    <li class="list-group-item">
                        <span class="text-muted">Telefon: </span><span sec:authentication="principal.phone"/>
                    </li>
                    <li class="list-group-item">
                        <span class="text-muted">Rol: </span><span sec:authentication="principal.role.roleName"/>
                    </li>
                     
                </ul>
        </div>
        <form th:action="@{/profile}" th:object="${idTransfer}" th:method="put" >
                 		<input th:attr="name=recordId" type="hidden" th:value="${#authentication.principal.memberId}">
                 		<button class="btn btn-primary btn-info mt-3 float-right"> Kullanıcı Bilgilerini Güncelle</button>
                 	</form>
    </div>
</div>
<div th:replace="fragments/fragments :: scripts"></div>
</body>
</html>